// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Flora from "../../../../../index.js";

export declare namespace RunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RunsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RunsClient.Options>;

    constructor(options: RunsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Starts a run for a specific technique using the backward-compatible nested route. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.techniques.CreateRunsRequest} request
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.techniques.runs.create({
     *         techniqueId: "art-directors-critique",
     *         inputs: [{
     *                 id: "id",
     *                 type: "text",
     *                 value: "value"
     *             }],
     *         mode: "async"
     *     })
     */
    public create(
        request: Flora.techniques.CreateRunsRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.techniques.CreateRunsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Flora.techniques.CreateRunsRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.techniques.CreateRunsResponse>> {
        const { techniqueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `techniques/${core.url.encodePathParam(techniqueId)}/runs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Flora.techniques.CreateRunsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/techniques/{techniqueId}/runs",
        );
    }

    /**
     * Returns status, progress, outputs, and error details for a technique run when it is accessible to the authenticated public API key.
     *
     * @param {Flora.techniques.RetrieveRunsRequest} request
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.techniques.runs.retrieve({
     *         techniqueId: "art-directors-critique",
     *         runId: "run_abc123"
     *     })
     */
    public retrieve(
        request: Flora.techniques.RetrieveRunsRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.techniques.RetrieveRunsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Flora.techniques.RetrieveRunsRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.techniques.RetrieveRunsResponse>> {
        const { techniqueId, runId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `techniques/${core.url.encodePathParam(techniqueId)}/runs/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.techniques.RetrieveRunsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/techniques/{techniqueId}/runs/{runId}",
        );
    }

    /**
     * Lists technique run history for the authenticated caller, including pending, running, completed, and failed technique runs. Results are newest first and can be filtered by workspace_id, project_id, technique_id, and status. Each item includes poll_url; use it to poll pending/running technique runs and to fetch completed or failed run details and outputs.
     *
     * @param {Flora.techniques.ListRunsRequest} request
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.techniques.runs.list({
     *         cursor: "eyJvZmZzZXQiOjIwfQ",
     *         workspace_id: "ws_abc123",
     *         project_id: "prj_abc123",
     *         technique_id: "tech_abcd1234"
     *     })
     */
    public async list(
        request: Flora.techniques.ListRunsRequest = {},
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.Page<Flora.techniques.ListRunsResponse.TechniqueRuns.Item, Flora.techniques.ListRunsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Flora.techniques.ListRunsRequest,
            ): Promise<core.WithRawResponse<Flora.techniques.ListRunsResponse>> => {
                const {
                    limit,
                    cursor,
                    workspace_id: workspaceId,
                    project_id: projectId,
                    status,
                    technique_id: techniqueId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                    workspace_id: workspaceId,
                    project_id: projectId,
                    status: status != null ? status : undefined,
                    technique_id: techniqueId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.FloraEnvironment.Default,
                        "technique-runs",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Flora.techniques.ListRunsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 402:
                            throw new Flora.PaymentRequiredError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 409:
                            throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Flora.TooManyRequestsError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.FloraError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/technique-runs");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Flora.techniques.ListRunsResponse.TechniqueRuns.Item, Flora.techniques.ListRunsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta.next_cursor != null &&
                !(typeof response?.meta.next_cursor === "string" && response?.meta.next_cursor === ""),
            getItems: (response) => response?.technique_runs ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.meta.next_cursor));
            },
        });
    }
}
