// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Flora from "../../../index.js";

export declare namespace GenerationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Generation endpoints.
 */
export class GenerationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GenerationsClient.Options>;

    constructor(options: GenerationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns status and completed output URLs for a public API run, including action runs started through POST /runs/action.
     *
     * @param {Flora.RetrieveGenerationsRequest} request
     * @param {GenerationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.generations.retrieve({
     *         runId: "run_abc123"
     *     })
     */
    public retrieve(
        request: Flora.RetrieveGenerationsRequest,
        requestOptions?: GenerationsClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.RetrieveGenerationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Flora.RetrieveGenerationsRequest,
        requestOptions?: GenerationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.RetrieveGenerationsResponse>> {
        const { runId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `runs/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Flora.RetrieveGenerationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/runs/{runId}");
    }

    /**
     * Starts a model generation using type, prompt, workspace_id, project_id, optional model endpoint ID, and optional model parameters. Use type=image|video|audio|text and model IDs returned by GET /models or list_models. Poll the returned run_id via GET /runs/{runId} for progress and outputs. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.CreateGenerationsRequest} request
     * @param {GenerationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.generations.create({
     *         type: "image",
     *         prompt: "A cinematic product photo of a ceramic mug on a sunlit table",
     *         workspace_id: "ws_abc123",
     *         project_id: "prj_abc123"
     *     })
     */
    public create(
        request: Flora.CreateGenerationsRequest,
        requestOptions?: GenerationsClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.CreateGenerationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Flora.CreateGenerationsRequest,
        requestOptions?: GenerationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.CreateGenerationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                "generate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Flora.CreateGenerationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/generate");
    }

    /**
     * Lists generation history for the authenticated caller, including pending, running, completed, and failed generations. Results are newest first and can be filtered by workspace_id, project_id, and status. Each item includes poll_url; use it to poll pending/running generations and to fetch completed or failed run details and outputs.
     *
     * @param {Flora.ListGenerationsRequest} request
     * @param {GenerationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.generations.list({
     *         cursor: "eyJvZmZzZXQiOjIwfQ",
     *         workspace_id: "ws_abc123",
     *         project_id: "prj_abc123"
     *     })
     */
    public async list(
        request: Flora.ListGenerationsRequest = {},
        requestOptions?: GenerationsClient.RequestOptions,
    ): Promise<core.Page<Flora.ListGenerationsResponse.Generations.Item, Flora.ListGenerationsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Flora.ListGenerationsRequest,
            ): Promise<core.WithRawResponse<Flora.ListGenerationsResponse>> => {
                const { limit, cursor, workspace_id: workspaceId, project_id: projectId, status } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                    workspace_id: workspaceId,
                    project_id: projectId,
                    status: status != null ? status : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.FloraEnvironment.Default,
                        "generations",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Flora.ListGenerationsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 402:
                            throw new Flora.PaymentRequiredError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 409:
                            throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Flora.TooManyRequestsError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.FloraError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/generations");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Flora.ListGenerationsResponse.Generations.Item, Flora.ListGenerationsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta.next_cursor != null &&
                !(typeof response?.meta.next_cursor === "string" && response?.meta.next_cursor === ""),
            getItems: (response) => response?.generations ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.meta.next_cursor));
            },
        });
    }
}
