// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Flora from "../../../../../index.js";

export declare namespace AssetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AssetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AssetsClient.Options>;

    constructor(options: AssetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Attaches an existing ready asset to a project canvas as a static media node. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.projects.AttachAssetsRequest} request
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.assets.attach({
     *         projectId: "prj_abc123",
     *         assetId: "asset_abc123"
     *     })
     */
    public attach(
        request: Flora.projects.AttachAssetsRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.AttachAssetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__attach(request, requestOptions));
    }

    private async __attach(
        request: Flora.projects.AttachAssetsRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.AttachAssetsResponse>> {
        const { projectId, assetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `projects/${core.url.encodePathParam(projectId)}/assets/${core.url.encodePathParam(assetId)}/attach`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Flora.projects.AttachAssetsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/projects/{projectId}/assets/{assetId}/attach",
        );
    }
}
