// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Flora from "../../../../../index.js";

export declare namespace LibraryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LibraryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LibraryClient.Options>;

    constructor(options: LibraryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a folder in the authenticated user's FLORA library. Used by the Web Clipper to group images clipped from a page. Defaults to the credential's workspace when workspace_id is omitted. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.workspaces.CreateFolderLibraryRequest} request
     * @param {LibraryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.workspaces.library.createFolder({
     *         workspaceId: "ws_abc123"
     *     })
     */
    public createFolder(
        request: Flora.workspaces.CreateFolderLibraryRequest,
        requestOptions?: LibraryClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.workspaces.CreateFolderLibraryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createFolder(request, requestOptions));
    }

    private async __createFolder(
        request: Flora.workspaces.CreateFolderLibraryRequest,
        requestOptions?: LibraryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.workspaces.CreateFolderLibraryResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/library/folders`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.workspaces.CreateFolderLibraryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/library/folders",
        );
    }

    /**
     * Fetches an image from a public HTTPS URL (SSRF-safe) and saves it into the given library folder as a media node. Used by the Web Clipper's send pipeline, one call per selected image. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.workspaces.AddFolderItemLibraryRequest} request
     * @param {LibraryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.workspaces.library.addFolderItem({
     *         workspaceId: "ws_abc123",
     *         folderId: "libfolder_abc123"
     *     })
     */
    public addFolderItem(
        request: Flora.workspaces.AddFolderItemLibraryRequest,
        requestOptions?: LibraryClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.workspaces.AddFolderItemLibraryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addFolderItem(request, requestOptions));
    }

    private async __addFolderItem(
        request: Flora.workspaces.AddFolderItemLibraryRequest,
        requestOptions?: LibraryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.workspaces.AddFolderItemLibraryResponse>> {
        const { workspaceId, folderId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/library/folders/${core.url.encodePathParam(folderId)}/items`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.workspaces.AddFolderItemLibraryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/library/folders/{folderId}/items",
        );
    }

    /**
     * Deletes a library folder owned by the authenticated user, detaching any saved nodes still in it. Used by the Web Clipper to clean up an empty folder when a clip saved nothing.
     *
     * @param {Flora.workspaces.DeleteFolderLibraryRequest} request
     * @param {LibraryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.workspaces.library.deleteFolder({
     *         workspaceId: "ws_abc123",
     *         folderId: "libfolder_abc123"
     *     })
     */
    public deleteFolder(
        request: Flora.workspaces.DeleteFolderLibraryRequest,
        requestOptions?: LibraryClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.workspaces.DeleteFolderLibraryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteFolder(request, requestOptions));
    }

    private async __deleteFolder(
        request: Flora.workspaces.DeleteFolderLibraryRequest,
        requestOptions?: LibraryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.workspaces.DeleteFolderLibraryResponse>> {
        const { workspaceId, folderId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/library/folders/${core.url.encodePathParam(folderId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.workspaces.DeleteFolderLibraryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/library/folders/{folderId}",
        );
    }
}
