// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Flora from "../../../../../index.js";

export declare namespace CanvasClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CanvasClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CanvasClient.Options>;

    constructor(options: CanvasClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the current project canvas topology as a Mermaid flowchart using the same serializer as the Fauna agent.
     *
     * @param {Flora.projects.RetrieveCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.retrieve({
     *         projectId: "prj_abc123"
     *     })
     */
    public retrieve(
        request: Flora.projects.RetrieveCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.RetrieveCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Flora.projects.RetrieveCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.RetrieveCanvasResponse>> {
        const { projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `projects/${core.url.encodePathParam(projectId)}/canvas`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.projects.RetrieveCanvasResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/projects/{projectId}/canvas");
    }

    /**
     * Applies a Mermaid flowchart patch to the project canvas using the same create_workflow path as the Fauna agent. The diagram may add nodes, connect nodes, and reference existing canvas nodes by their Mermaid short IDs in edges (e.g. `n1 --> out`). This endpoint is add-only: re-declaring an existing node id with a label (e.g. `n3["..."]`) creates a NEW node instead of updating the existing one, and returns a warning. To attach to an existing node, reference its id in an edge without re-declaring its label. Subgraph grouping is not applied (nodes inside a `subgraph` are added ungrouped) and returns a warning. To place an existing image/video/audio as a static node, set `node_params` — which is keyed by Mermaid node id, e.g. `{ "img1": { "content_url": "https://…" } }`, NOT a bare `{ content_url }` object. `prompt` and `content_url` are mutually exclusive for a node: use `prompt` (or a label that doubles as the prompt) for generation, or `content_url` for existing media. When using `content_url`, give the node a content-free type-only label such as `img1["(Image)"]` so no prompt is inferred from the label.
     *
     * @param {Flora.projects.UpdateCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.update({
     *         projectId: "prj_abc123",
     *         diagram: "graph LR\n  source[\"Product photo (Image)\"]\n  output[\"Editorial campaign image (Image)\"]\n  source --> output"
     *     })
     */
    public update(
        request: Flora.projects.UpdateCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.UpdateCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Flora.projects.UpdateCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.UpdateCanvasResponse>> {
        const { projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `projects/${core.url.encodePathParam(projectId)}/canvas`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Flora.projects.UpdateCanvasResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/projects/{projectId}/canvas",
        );
    }

    /**
     * Returns the canonical JSON definition needed to reconstruct a project canvas, including nodes, edges, inputs, current outputs, positions, and Layer Editor documents when present.
     *
     * @param {Flora.projects.GetDefinitionCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.getDefinition({
     *         workspaceId: "ws_abc123",
     *         projectId: "prj_abc123"
     *     })
     */
    public getDefinition(
        request: Flora.projects.GetDefinitionCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.GetDefinitionCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDefinition(request, requestOptions));
    }

    private async __getDefinition(
        request: Flora.projects.GetDefinitionCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.GetDefinitionCanvasResponse>> {
        const { workspaceId, projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/canvas/definition`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.projects.GetDefinitionCanvasResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/canvas/definition",
        );
    }

    /**
     * Validates and atomically replaces the complete project canvas definition. Supplied positions are preserved and omitted positions receive deterministic automatic layout. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.projects.ReplaceDefinitionCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.replaceDefinition({
     *         workspaceId: "ws_abc123",
     *         projectId: "prj_abc123",
     *         definition: {
     *             nodes: [{
     *                     id: "node_abc123",
     *                     type: "videoBlock",
     *                     data: {
     *                         "key": "value"
     *                     }
     *                 }],
     *             edges: [{
     *                     id: "edge_abc123",
     *                     source: "source",
     *                     target: "target"
     *                 }],
     *             node_inputs: {
     *                 "key": {
     *                     "key": "value"
     *                 }
     *             },
     *             node_outputs: {
     *                 "key": {
     *                     "key": "value"
     *                 }
     *             }
     *         }
     *     })
     */
    public replaceDefinition(
        request: Flora.projects.ReplaceDefinitionCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.ReplaceDefinitionCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replaceDefinition(request, requestOptions));
    }

    private async __replaceDefinition(
        request: Flora.projects.ReplaceDefinitionCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.ReplaceDefinitionCanvasResponse>> {
        const { workspaceId, projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/canvas/definition`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.projects.ReplaceDefinitionCanvasResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/canvas/definition",
        );
    }

    /**
     * Returns the full state of a project canvas: every node's short id, node UUID, type, label, prompt, model, parameters, absolute position, generation status and current output, plus the edges between them and a revision marker. This is the lossless counterpart of the Mermaid canvas rendering, which collapses node types and truncates labels. Short ids are persisted as part of the read, so the id reported for a node is the same on every subsequent read and is the id canvas write operations accept. The revision is opaque: an identical value means nothing this endpoint reports has changed, a different value means something has, and no ordering can be inferred from two values.
     *
     * @param {Flora.projects.GetGraphCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.getGraph({
     *         workspaceId: "ws_abc123",
     *         projectId: "prj_abc123"
     *     })
     */
    public getGraph(
        request: Flora.projects.GetGraphCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.GetGraphCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getGraph(request, requestOptions));
    }

    private async __getGraph(
        request: Flora.projects.GetGraphCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.GetGraphCanvasResponse>> {
        const { workspaceId, projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/graph`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.projects.GetGraphCanvasResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/graph",
        );
    }

    /**
     * Edits a project canvas: add, update, connect, disconnect and remove operations validate together and apply as ONE atomic transaction. Nothing applies if any operation is invalid, and every cause is reported with a machine-readable code in the error's fields array. Operations apply in the order add, update, connect, disconnect, remove, with groups created before their members — so one call can create a group, fill it, wire the new nodes to existing ones by the ref names it chose, and delete something else. Nodes are addressed by the short id or node UUID the project graph endpoint reports, or by a ref declared by an add operation in the same request. REMOVE IS IMMEDIATE AND IRREVERSIBLE through the API: there is no confirmation step and no undo, deleting a node also deletes its edges and any group members, so confirm destructive changesets with your user before sending them. The revision returned is the same change-detection marker the project graph endpoint reports, so it can be compared directly against a later read. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.projects.ApplyChangesetCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.applyChangeset({
     *         workspaceId: "ws_abc123",
     *         projectId: "prj_abc123"
     *     })
     */
    public applyChangeset(
        request: Flora.projects.ApplyChangesetCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.ApplyChangesetCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__applyChangeset(request, requestOptions));
    }

    private async __applyChangeset(
        request: Flora.projects.ApplyChangesetCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.ApplyChangesetCanvasResponse>> {
        const { workspaceId, projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/canvas/changeset`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.projects.ApplyChangesetCanvasResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/projects/{projectId}/canvas/changeset",
        );
    }

    /**
     * Runs generation nodes that already exist on a project canvas. Each node runs with the model, prompt, parameters and wired upstream inputs it already carries — this endpoint supplies nothing but ids, so configure a node with a canvas changeset first. THESE RUNS SPEND THE WORKSPACE'S CREDITS IMMEDIATELY: there is no confirmation step and no dry run, and the charge lands whether or not you poll the result. Nodes are addressed by the short id or node UUID the project graph endpoint reports, and each entry echoes the identifier you sent. The response returns as soon as every run has an id — it never waits for the generations, which continue in the background — so poll each run_id for status and output. Nodes requested in one call run in dependency order: connected nodes run children before parents, so a chain can be started in a single request, and independent nodes run in parallel. A node that cannot run is reported as its own skipped entry with a machine-readable reason and never fails the rest of the batch; only an empty or oversized node_ids list, a project that does not exist in the workspace, or denied write access fail the whole request. Credits are not checked up front: insufficient credits surface on the individual run, not on this request. Known limits compared with running a node in the Flora editor: automatic model routing covers image nodes only, an element node with several assets counts as one input, and collections, batch fan-out, per-run parameter overrides and multi-model selections are not supported. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
     *
     * @param {Flora.projects.RunNodesCanvasRequest} request
     * @param {CanvasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Flora.BadRequestError}
     * @throws {@link Flora.UnauthorizedError}
     * @throws {@link Flora.PaymentRequiredError}
     * @throws {@link Flora.ForbiddenError}
     * @throws {@link Flora.NotFoundError}
     * @throws {@link Flora.ConflictError}
     * @throws {@link Flora.TooManyRequestsError}
     * @throws {@link Flora.InternalServerError}
     * @throws {@link errors.FloraError}
     * @throws {@link errors.FloraTimeoutError}
     *
     * @example
     *     await client.projects.canvas.runNodes({
     *         workspaceId: "ws_abc123",
     *         projectId: "prj_abc123",
     *         node_ids: ["n3"]
     *     })
     */
    public runNodes(
        request: Flora.projects.RunNodesCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): core.HttpResponsePromise<Flora.projects.RunNodesCanvasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__runNodes(request, requestOptions));
    }

    private async __runNodes(
        request: Flora.projects.RunNodesCanvasRequest,
        requestOptions?: CanvasClient.RequestOptions,
    ): Promise<core.WithRawResponse<Flora.projects.RunNodesCanvasResponse>> {
        const { workspaceId, projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FloraEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/nodes/run`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Flora.projects.RunNodesCanvasResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Flora.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Flora.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Flora.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Flora.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Flora.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Flora.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Flora.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Flora.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FloraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/projects/{projectId}/nodes/run",
        );
    }
}
